rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /fe_events_primary/{id} {
      allow create: if request.auth != null;
    }
  }
}
